/* VARIABLES */

$lightgrey: #f1f1f1;
$darkgrey: #aaaaaa;
$eventred: #ed275c;
$eventdarkred: #d52352;
$eventlightred: #ffe3ea;
$eventpurple: #b8609c;
$border: #cccccc;


/* GENERAL LAYOUT */

body { 
  background-color: $lightgrey; 
}

.header {
  margin-bottom: 30px;
}

.actions {
  margin-bottom: 30px;
}

.content {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 30px;
}

.content.container-fluid, footer .container-fluid {
  max-width: 1170px;
}

footer .container-fluid {
  padding: 5px 15px;
  background-color: $eventred;
  color: #ffffff;
  font-size: 12px;
}


/* COMMON STYLES */

.pointer {
  cursor: pointer;
}

.content h1 {
  margin-top: 15px;
}

.hidden {
  display: none;
}

@media (min-width: 34em) {
  .pull-right-sm {
    float: right;
  }
}

@media (min-width: 48em) {
  .pull-right-md {
    float: right;
  }
}

@media (min-width: 62em) {
  .pull-right-lg {
    float: right;
  }
}

@media (min-width: 75em) {
  .pull-right-xl {
    float: right;
  }
}


/* LIST SESSIONS */

.content .list-sessions .session {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted $darkgrey;
}

.content .list-sessions .session-screenshot {
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 15px;
}

.content .list-sessions .session-screenshot.default {
  background-image: url(../images/session-default.jpg);
}

@media (min-width: 34em) {
  .content .list-sessions .session-screenshot {
    height: 100px;
  }
}

@media (min-width: 34em) {
  .content .list-sessions .session-screenshot {
    margin-bottom: 0;
  }
}

.content .list-sessions .session h2 {
  font-size: 24px;
}

.content .list-sessions .session h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

.content .list-sessions .session p.description {
  margin-bottom: 0;
}

.content .list-sessions .session .date, .content .list-sessions .session .speaker {
  margin: 0 15px 0 5px;
}


/* CREATE SESSION */

.content .dropzone {
  min-height: 30px;
  padding: 10px;
  border: 1px dashed $border;
  border-radius: 5px;
}

.content .dropzone .dz-message, .content .dropzone .dz-preview {
  margin: 0;
  padding: 0;
  min-height: auto;
  min-width: 100%;
}

.content .dropzone .dz-preview .dz-details, .content .dropzone .dz-preview .dz-progress {
  margin: 0;
  padding: 0;
  position: relative;
  top: auto;
  left: auto;
  display: inline;
  text-align: left;
  font-size: inherit;
}

.content .dropzone .dz-preview .dz-details > div {
  display: inline;
  margin: 0;
  padding: 0;
}

.content .dropzone .dz-preview .dz-progress {
  float: right;
}

.content .dropzone.dz-max-files-reached {
  pointer-events: none;
  cursor: default;
}

.content .datepicker {
  border: 1px solid $border;
  padding: .375rem .75rem;
  width: 200px;
  display: inline;
  margin-right: 5px;
}

.content .has-error .datepicker {
  border-color: #d9534f;
}

.content .has-error .fa {
  color: #d9534f;
}

.content fieldset .fa {
  font-size: 24px;
}


/* AUTOCOMPLETER */

.autocomplete-suggestions {
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid $border;
}

.autocomplete-suggestions .autocomplete-suggestion {
  padding: 2px 11px;
}

.autocomplete-suggestions .autocomplete-suggestion:hover, .autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected {
  background-color: $eventred;
  color: #ffffff;
  cursor: pointer;
}


/* BOOTSTRAP THEMING */

a {
  color: $eventred;
}

a:hover {
  color: $eventdarkred;
}

.btn-primary {
  background-color: $eventred;
  border-color: $eventred;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
.btn-primary.hover, .btn-primary.active, .btn-primary.focus {
  background-color: $eventdarkred;
  border-color: $eventdarkred;
  outline: none;
}

.form-control:focus {
  border-color: $eventpurple;
}

.alert-danger {
  color: $eventred;
  background-color: $eventlightred;
  border-color: $eventdarkred;
}


/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, $eventred, $eventdarkred);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($eventred), to($eventdarkred));
  background-image: -webkit-linear-gradient(top, $eventred, $eventdarkred);
  background-image: -o-linear-gradient(top, $eventred, $eventdarkred);
  background-image: linear-gradient(to bottom, $eventred, $eventdarkred);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: $eventdarkred $eventdarkred #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: $eventdarkred;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: $eventdarkred;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, $eventred, $eventdarkred);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($eventred), to($eventdarkred));
  background-image: -webkit-linear-gradient(top, $eventred, $eventdarkred);
  background-image: -o-linear-gradient(top, $eventred, $eventdarkred);
  background-image: linear-gradient(to bottom, $eventred, $eventdarkred);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: $eventdarkred $eventdarkred #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: $eventdarkred;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: $eventdarkred;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
